* {
    font-family: 'Ubuntu';
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #0A152F;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    color: #0A152F;
}

hr {    
    border: 1px solid #F3B167;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A152F;
}

h4, h5, h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0A152F;
}

.ptext {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
}

.link1 {
    color: #F36D35;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.link1:hover {
    text-decoration: none;
    color: #F3B167;
}

.link1:active {
    text-decoration: underline;
    color: #F3B167;
}

.button1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0A152F;
    border: none;
    border-radius: 15px;   
    padding: 15px 32px; 
    text-decoration: none;
}

.button1:hover {
    background: #F3B167;
}

ol {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
}

ul {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
    list-style-type: circle;
}

nav {
    background-color: #0A152F;
    padding: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
}


#navbarlinks a{
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
}

#navbarlinks a:hover{
    color: #F3B167;
}

.grid{
        display:grid;
        grid-template-columns: 1fr;
    }

.checkbtn {
    font-size: 30px;
    color: #FEE0C4;
    float:right;
    margin-right: 40px;
    display:block;
}
#check {
    display:none;
}

#navbarlinks {
    list-style-type: none;
}

#check:not(:checked) ~ #navbarlinks li {
    display:none;
}

#check:checked ~ #navbarlinks li {
    margin: 20px 30px;
    display: block;
    text-align:right;
    top: 70px;
    background: white;
    transition: all .5s;
    position:fixed;
    right: 0;
}


.container{
    grid-template-rows: 1fr 1fr 1fr;
    background: gray;
    width: 100%;
}

.col{
    height: 30em;
    box-sizing: border-box;
    padding: .5em;
    position: relative;
}

.col:nth-child(1){
    background: #F36D35;
}
.col:nth-child(2){
    background: #8E3529;
}
.col:nth-child(3){
    background: #FEE0C4;
}
.col h3{
    text-align: center;
}
.col img {
    width: 20em;
}

.caption{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
}

.gsetup{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
  }
.gcolor {
  background: rgba (0, 255, 0, 0.5);
  z-index: 2;
  width: 100%;
}

.col img{
    height:auto;
    position: absolute;
    right:0;
    bottom:0;
}

@media only screen and (min-width:750px){
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    #navbarlinks {
        top:0;
        display: inline-block;
    }
       
    #navbarlinks li {
        margin: 0 5px;
        margin-right: 60px;
        transition: none;
        background: none;
    }
    .checkbtn {
        display: none;
    }
    .container{
        height: 400px;
        width:100%;
        margin: 50px auto;
        display:flex;
    }
    .col{
        height: 100%;
        flex:1;
    }
    .gsetup {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}