* {
    font-family: 'Ubuntu';
    font-style: normal;
    box-sizing: border-box; /*solved the problem of horizontal scrolling*/
}


/* |General Styling|*/
body{
    margin: 5px;
}
h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #0A152F;
    margin-left: 15px;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 38px;
    color: #0A152F;
    margin: 10px;
}

hr {    
    border: 1px solid #F3B167;
    width: 97%;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A152F;
}

h4, h5, h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0A152F;
}

.ptext {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
}

.link1 {
    color: #F36D35;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.link1:hover {
    text-decoration: none;
    color: #F3B167;
}

.link1:active {
    text-decoration: underline;
    color: #F3B167;
}

.button1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0A152F;
    border: none;
    border-radius: 15px;  
    padding: 10px 25px; 
    text-decoration: none;
}

.button1:hover {
    background: #F3B167;
}

ol {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
}

ul {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
    list-style-type: circle;
}

/*|||Mobile Styling|||*/

/*|Nav Bar|*/
nav {
    background-color: #0A152F;
    padding: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    z-index:100;
}

#navbarlinks {
    list-style-type: none;
    position:fixed;
    width:100%;
    height:250px;
    background:#8E3529;
    top: 41px;
    right: -150%;
    text-align: center;
    transition: all .5s;
    z-index:1;
}

#navbarlinks a{
    color: #FEE0C4;
    line-height: 40px;
    text-decoration: none;
    padding: 7px 13px;
    text-transform: uppercase;
}

#navbarlinks a:hover{
    color: #F3B167;
}

.logo {
    padding: 0 5px;
}

.checkbtn {
    font-size: 40px;
    color: #FEE0C4;
    float:right;
    margin-right: 20px;
    display:block;
    cursor:pointer;
}

#check {
    display:none;
}

#check:checked ~ #navbarlinks {
    right: -15%;
}

/*|Index Styling|*/
.grid{
    display:grid;
    grid-template-columns: 1fr;
}
.container{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: gray;
    width: 100%;
    margin-left: 20px;
}

.col{
    height: 25em;
    box-sizing: border-box;
    padding: .5em;
    position: relative;
}

.col:nth-child(1){
    background: #F36D35;
}
.col:nth-child(2){
    background: #8E3529;
}
.col:nth-child(3){
    background: #FEE0C4;
}

.col:nth-child(4){
    background: #f7c081;
}

.col:nth-child(5){
    background:#010612;
}

.col:nth-child(5) h2{
    color: #FFFFFF;
}
.col:nth-child(5) .caption{
    color: #FFFFFF;
}

.col h2{
    text-align: center;
}
.indeximg {
    max-width: 25em;
    height:auto;
    position: absolute;
    right:0;
    bottom:0;
}

.caption{
    font-weight: 400;
    position: relative;
    font-size: 18px;
    line-height: 16px;
    color: #0A152F;
    z-index: 90;
}

/*|Secondary Page Setups*/
.gsetup{
    display: grid;
    grid-template-columns: 450px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.gallery {
    position: relative;
    margin: 2px;
    border: none;
    text-align: center;
  }

/*centering an image using text-align: https://blog.hubspot.com/website/center-an-image-in-html*/
.cimg{
    text-align: center;
    position: relative;
    z-index:13;
}

/*before for styling?
more info on ":before" : https://developer.mozilla.org/en-US/docs/Web/CSS/::before 
how I did the overlay of color: https://stackoverflow.com/questions/44673676/how-to-add-color-overlay-on-an-image 
extra vid on overlaying color and text: https://www.youtube.com/watch?v=exb2ab72Xhs */
/* absolutely positioned child elements do not affect their parent's height*/
.cimg:before{
    content:"";
    position: absolute;
    height:380px;
    width:380px;
    background: rgba(142,53,41,0.8);
    z-index:80;
    opacity:0;
}

.gimg {
    width: 380px;
}

.desc {
    position: absolute;
    text-align: center;
    color: #FEE0C4;
    z-index:81;
    top: 120px;
    font-size: 18px;
    opacity: 0;
    width: 370px;
    padding: 5px;
    margin: 33px;
}

/* "hover" for mobile: https://stackoverflow.com/questions/22559756/changing-hover-to-touch-click-for-mobile-devices */
.gallery:hover, .gallery:active .cimg:before {       
    opacity: 1; 
}

.gallery:hover, .gallery:active .desc {
    opacity: 1;
}

@media only screen and (max-width:749px){
#navbarlinks a {
    font-size: 20px;
}}

@media only screen and (min-width:750px) and (max-width:999px){
    #navbarlinks a {
        font-size: 15px;
    }}

    #navbarlinks {
        width:130%;
        margin-right: 10px;
    }

@media only screen and (min-width:1000px){
    #navbarlinks a {
        font-size: 20px;
    }}

/*|||Computer Styling|||*/
@media only screen and (min-width:750px){
    /*|Nav Styling|*/
      
    #navbarlinks li {
        display: inline-block;
        margin: 0 5px;
    }
    .checkbtn {
        display: none;
    }

    #navbarlinks {
        top:0;
        right: 0;
        float:right;
        background-color: transparent;
        text-align: right;
        transition: none;
        height:50px;
    }

.logo {
    z-index:300000000;
}
    /*|Index|*/
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .container{
        height: 300px;
        width:97%;
        margin: 30px auto;
        display:flex;
    }

    .caption{
        display:none;
    }

    .col{
        height: 20em;
        flex:1;
        transition: 0.6s;/*makes grow hover happen slower*/
    }

    .col:hover {
        flex-grow: 2; /*when you hover over the column, it grows*/
    }

    .col:hover .caption {
        display: block;
        width: 10em;
        margin-left: .5em;
    }

    .col:hover h2 {
        text-align: left;
    }
    .indeximg {
        width: 20em;
    }
    /*|Secondary|*/
    .gsetup {
        grid-template-columns: 390px 390px 390px;
        grid-template-rows: 390px 390px;
        gap: 1px;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .gimg {
        width: 390px;
    }

    .cimg:before{
        height:390px;
        width:390px;
    }

    .desc {
        top: 145px;
        width: 390px;
    }

    .gallery:hover .cimg:before {       
        opacity: 1; 
    }
    .gallery:hover .desc{
        opacity: 1;
    }
}



/* assignment 8 */

.randomize {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        background-color: #0A152F;
        border: none;
        border-radius: 15px;   
        padding: 10px 25px; 
        text-decoration: none;
    }
    
    .randomize:hover {
        background: #F3B167;
    }


    .story {
        background: #F3B167;
        color: #0A152F;
        padding: 10px;
        visibility: hidden;
      }