* {
    font-family: 'Ubuntu';
    font-style: normal;
}


/* |General Styling|*/
body{
    margin: 5px;
}
h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #0A152F;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    color: #0A152F;
}

hr {    
    border: 1px solid #F3B167;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A152F;
}

h4, h5, h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0A152F;
}

.ptext {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
}

.link1 {
    color: #F36D35;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.link1:hover {
    text-decoration: none;
    color: #F3B167;
}

.link1:active {
    text-decoration: underline;
    color: #F3B167;
}

.button1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0A152F;
    border: none;
    border-radius: 15px;   
    padding: 10px 25px; 
    text-decoration: none;
}

.button1:hover {
    background: #F3B167;
}

ol {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
}

ul {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
    list-style-type: circle;
}

/*|||Mobile Styling|||*/

/*|Nav Bar|*/
nav {
    background-color: #0A152F;
    padding: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    z-index:100;
}

#navbarlinks {
    list-style-type: none;
    position:fixed;
    width:100%;
    height:160px;
    background:#8E3529;
    top: 50px;
    right: -110%;
    text-align: center;
    transition: all .5s;
    z-index:1;
}

#navbarlinks a{
    color: #FEE0C4;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    padding: 7px 13px;
    text-transform: uppercase;
}

#navbarlinks a:hover{
    color: #F3B167;
}

.logo {
    padding: 0 20px;
}

.checkbtn {
    font-size: 40px;
    color: #FEE0C4;
    float:right;
    margin-right: 40px;
    display:block;
    cursor:pointer;
}

#check {
    display:none;
}

#check:checked ~ #navbarlinks {
    right: 0;
}

/*|Index Styling|*/
.grid{
    display:grid;
    grid-template-columns: 1fr;
}
.container{
    grid-template-rows: 1fr 1fr 1fr;
    background: gray;
    width: 100%;
}

.col{
    height: 25em;
    box-sizing: border-box;
    padding: .5em;
    position: relative;
}

.col:nth-child(1){
    background: #F36D35;
}
.col:nth-child(2){
    background: #FEE0C4;
}
.col:nth-child(3){
    background: #8E3529;
}
.col h3{
    text-align: center;
}
.indeximg {
    max-width: 30em;
    height:auto;
    position: absolute;
    right:0;
    bottom:0;
}

.caption{
    font-weight: 400;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: #0A152F;
    z-index: 90;
}

/*|Secondary Page Setups*/
.gsetup{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.gallery {
    position: relative;
    margin: 2px;
    border: none;
    text-align: center;
  }

/*centering an image using text-align: https://blog.hubspot.com/website/center-an-image-in-html*/
.cimg{
    text-align: center;
    position: relative;
    z-index:13;
}

/*before for styling?
more info on ":before" : https://developer.mozilla.org/en-US/docs/Web/CSS/::before 
how I did the overlay of color: https://stackoverflow.com/questions/44673676/how-to-add-color-overlay-on-an-image */
.cimg:before{
    content:"";
    position: absolute;
    height:470px;
    width:470px;
    background: rgba(142,53,41,0.8);
    z-index:80;
    opacity:0;
}

.gimg {
    width: 470px;
}

.desc {
    position: absolute;
    text-align: center;
    color: #FEE0C4;
    z-index:81;
    top: 235px;
    font-size: 18px;
    opacity: 0;
}

/* "hover" for mobile: https://stackoverflow.com/questions/22559756/changing-hover-to-touch-click-for-mobile-devices */
.gallery:hover, .gallery:active .cimg:before {       
    opacity: 1; 
}

.gallery:hover, .gallery:active .desc {
    opacity: 1;
}

/*|||Computer Styling|||*/
@media only screen and (min-width:750px){
    /*|Nav Styling|*/
      
    #navbarlinks li {
        display: inline-block;
        margin: 0 5px;
    }
    .checkbtn {
        display: none;
    }

    #navbarlinks {
        top:0;
        right: 0;
        float:right;
        margin-right: 20px;
        background-color: transparent;
        text-align: right;
        transition: none;
        width:75%;
        height:50px;
    }

.logo {
    z-index:300000000;
}
    /*|Index|*/
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .container{
        height: 400px;
        width:100%;
        margin: 50px auto;
        display:flex;
    }
    .col{
        height: 30em;
        flex:1;
    }
    /*|Secondary|*/
    .gsetup {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }
    .gimg {
        width: 420px;
    }

    .cimg:before{
        height:420px;
        width:420px;
    }

    .desc {
        top: 210px;
    }

    .gallery:hover .cimg:before {       
        opacity: 1; 
    }
    .gallery:hover .desc{
        opacity: 1;
    }
}