/* ||General styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}


/*||setup of the card container--------------------------------------------------------------------*/

/*card border radius = rounded corners*/
.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}


/*||header and footer------------------------------------------------------------------------------*/

/*linear gradient, from dark to light*/
.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(161, 161, 161, 0));
  border-radius: 1.5em 1.5em 0 0;
}

/*linear gradient, from light to dark*/
.card footer {
  background-image: linear-gradient(to bottom,rgba(152, 146, 146, 0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

/*5em total height - 3em content, 2em padding*/
.card header, .card footer {
  height: 3em;
  padding: 1em;
}

/*how to calculate line-height???*/
.card footer p {
  font-size: 1.5em;
  line-height: 1.75em;
}


/*||main business card contents------------------------------------------------------------------*/

/*height will stay with container, moving it to the right of the container*/
.card article img {
  max-height: 100%;
  float: right;
}

/*set margin for p and h2*/
h2, p {
  margin: 0;
}

/*semi-transparent black background*/
.card article {
  height: 12em;
  background-color: rgba(0,0,0,0.45);; 
}

/*h2 font-size and line height to be at center*/
h2 {
  font-size: 2em;
  line-height: 1.5em;
}

/*gave article p padding to align with other headings and changed to light color*/
.card article p {
  padding: 1.2em;
  color: white;
  line-height:1.35em;
}