*{
    box-sizing: border-box; /*padding is part of the width of the box*/
    font-family: 'Ubuntu';
}
.topform {
    padding: 20px;
    background-color: rgb(255, 250, 245);
    border-radius: 5px;
    border: 1px solid gray;
    max-width: 400px;
    line-height: 25px;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #0A152F;
}

em {
    font-style: italic;
}

/*https://www.youtube.com/watch?v=Ki0XXrlKlHY*/

#mainbox{
    width:350px;
    height: 300px;
    position: relative;
}

.circle {
    margin-top: 40px;
    width: 300px;
    height: 300px;
    background-color: #d7d7d7;
    border-radius: 50%; /*makes square become circle*/
    position: relative;
}

#spinner {
    transition: all ease 3s;
}


.circle .number {
    font-size:18px;
    --rotation: 0; /*default value*/
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
    transform: rotate(var(--rotation));  /*created a variable called rotation*/
}

#number1 {--rotation: 36deg;}
#number2 {--rotation: 72deg;}
#number3 {--rotation: 108deg;}
#number4 {--rotation: 144deg;}
#number5 {--rotation: 180deg;}
#number6 {--rotation: 216deg;}
#number7 {--rotation: 252deg;}
#number8 {--rotation: 288deg;}
#number9 {--rotation: 324deg;}
#separate1 {--rotation: 18deg;}
#separate2 {--rotation: 54deg;}
#separate3 {--rotation: 90deg;}
#separate4 {--rotation: 126deg;}
#separate5 {--rotation: 162deg;}
#separate6 {--rotation: 198deg;}
#separate7 {--rotation: 234deg;}
#separate8 {--rotation: 270deg;}
#separate9 {--rotation: 306deg;}
#separate10 {--rotation: 342deg;}


#arrow {
    --rotation: 0;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    top: -5%;
    left: 43%;
    z-index:60;
    transform: translateX(-50%); /*moves the position left by half of its width*/
}

.billing-button, .correct-button {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0A152F;
    border: none;
    border-radius: 15px;   
    padding: 10px 25px; 
    text-decoration: none;
}

.correct-button {
    margin-top: 20px;
    margin-left: 80px;
}

.billing-button:hover, .correct-button:hover, .spin-button:hover {
    background: #F3B167;
}

.correct-button:disabled, .spin-button:disabled {
    background:gray;
}

.spin-button {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    background-color: red;
    border-color: white;
    bottom:50%;
    left: 50%;
    z-index:20;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(50%);
}

.output {
    font-weight: 500;
    font-size: 24px;
}

.myName {
    margin-top: 50px;
    font-size: 12px;
}