body {
    margin: 0px;
    overflow: hidden;
  }

  .sphere {
    fill: #0A152F; /*ocean color*/
  }

  .country {
    /* fill:#F3B167; country colors*/
    stroke: #FEE0C4; /* country outline color*/
    stroke-width: 1px; /* country outline width*/
  }

  .country:hover {
    fill: #F36D35; /*from cheap tricks link*/
  }

 .svg-container {
    width: 768px;
    height: 400px;
    vertical-align: top;
    overflow: hidden;
}

  .svg-content {
    top: 0;
    left: 0;
}

.information {
  width: 400px;
  height: 500px;
  background-color:red;
}

  .mappagegrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .tick text {
    font-size: 0.8 em;
    fill: #0A152F;
    font-family: 'Ubuntu';
  }
  
  .tick circle {
    stroke: #0A152F;
    stroke-opacity: 0.5;
  }

  @media only screen and (max-width:749px){
    .svg-container {
      width: 576px;
      height: 300px;
      vertical-align: top;
      overflow: hidden;
  }

  .country:hover, .country:active {
    fill: #F36D35;
}
}
