body {
    margin: 0px;
    overflow: hidden;
  }

  .sphere {
    fill: #0A152F; /*ocean color*/
  }

  .country {
    fill:#F3B167; /*country colors*/
    stroke: #FEE0C4; /* country outlines*/
    stroke-opacity: 0.8;
  }

  .country:hover {
    fill: #F36D35; /*from cheap tricks link*/
  }

  .wholething {
    margin-top:40px;
  }